# Ignorar dependencias
node_modules/
fingerprint-server/node_modules/

# Archivos de entorno
.env

# Compilaciones / builds
dist/
build/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Otros posibles
.vscode/
.idea/
